* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.submit {
    margin-top: 10px;
    margin-bottom: 30px;
}

.submite-button {
    cursor: pointer;
    transition: 1s;
}